<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Server access analysis - EPA</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">
        <!-- Load c3.css -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.13/c3.css" rel="stylesheet">


    </head>
    <body>
        <h1>Server access analysis - EPA</h1>

        <div class="block">
          <h2>HTTP Methods</h2>
          <div id="methodsChart"></div>
        </div>
        <div class="block">
          <h2>Requests per Minute</h2>
          <div id="requestsPerMinuteChart"></div>
        </div>
        <div class="block">
          <h2>Response Codes</h2>
          <div id="responseCodeChart"></div>
        </div>
        <div class="block">
          <h2>Answer Size</h2>
          <div id="documentSizeChart"></div>
        </div>

        <script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
        <!-- Load d3.js and c3.js -->
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.13/c3.js"></script>

        <script src="../Backend/result.json"></script>
        <script src="js/dataOrganizer.js"></script>
        <script src="js/chartBuilder.js"></script>
        <script src="js/epa.js"></script>

    </body>
</html>
